<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{%block title_block%}{%endblock%}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">IIESTS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="container">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item {%block feedback_active%}{%endblock%}">
                                <a class="nav-link" href="{%url 'form_app:feedback'%}">Feedback</a>
                            </li>
                            <li class="nav-item {%block admin_active%}{%endblock%}">
                                <a class="nav-link" href="{%url 'admin_app:index'%}">Admin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {%block body_block%}{%endblock%}
    </body>
</html>
